<div class="container">
    <p class="flow-text center">Add a class</p>
    {{#each errors}}
        <div class="error">
            <p>{{text}}</p>
        </div>
    {{/each}}
    <form action="/classes/add" method="POST" class="col s12">
        <div class="row">       
            <div class="input-field col s8">
                <i class="material-icons prefix">lightbulb_outline</i>
                <input name="title" id="title" type="text" value={{title}}>
                <label for="title">Title</label>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">attach_money</i>
                <input type="text" name="price" id="price" value={{price}}>
                <label for="price">Price</label>
            </div>        
        </div>
        <div class="row">        
            <div class="input-field col s12">
                <i class="material-icons prefix">description</i>
                <textarea class="materialize-textarea" name="description" id="description">{{description}}</textarea>
                <label for="description">Description (50-200 words)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text">
                <label for="name">Your first and last name</label>
            </div>
            <div class="input-field col s8">
                <i class="material-icons prefix">email</i>
                <input id="contact_email" name="contact_email" type="email" value={{contact_email}}>
                <label for="contact_email">Your email adress</label>
            </div>              
        </div>
        <div class="center">
            <input type="submit" value="Add Class" class="btn-large blue">
        </div>
    </form>
</div>